<div class="container">
  <div style="text-align:center">
    <h2>Contact Us</h2>
    <p>Swing by for a cup of coffee, or leave us a message:</p>
  </div>
  <div class="row">
    <div class="column">
      <img src="/assets/grocery2.png" style="width:100%">
    </div>
    <div class="column">
<br>
<br>
<p>You can reach us</p>
<br>
<li>Phone Number : 9000 900 900</li>
<br>
<li>Email        : DesimarketServices@gmail.com</li>
<br>
<li>Instagram    :DesiMarketAdda</li>
<br>
<li>Facebook     : DesiMarketAdda</li>
<br>
<br>
    </div>
  </div>
</div>
