
<div class="about-section">
  <h1>DesiMarket </h1>
  <p>Online grocery delivery system</p>
  <p>Where thoughtful foodies find what they’re looking for</p>
</div>

<h2 style="text-align:center"></h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../assets/groceries.jpg" width="480" height="307"  >
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/assets/grocery3.png" width="480" height="307" >  
    </div>
  </div>
    <div class="column">
    <div class="card">
      <img src="/assets/grocery4.png" width="480" height="307" >  
    </div>
  </div>
</div>
<div class="row">
    <div class="column">
    <div class="card">
      <img src="/assets/grocery5.png" width="480" height="307" >  
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/assets/grocery2.png" width="480" height="307" >
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/assets/grocery1.png" width="480" height="307" >  
    </div>
  </div>
</div>