<div class="container">
    <h1>Product Details</h1>
   <a mat-button color="primary" routerLink="/productsadmin" >Back</a>
    <div>
        <strong>ID:</strong>
        <p>{{ product.productId }}</p>
    </div>
   
    <div>
        <strong>Username:</strong>
        <p>{{ product.name }}</p>
    </div>
   
    <div>
        <strong>Email:</strong>
        <p>{{ product.price }}</p>
    </div>

    <div>
        <strong>Address:</strong>
        <p>{{ product.description }}</p>
    </div>
    <div>
        <strong>PhoneNumber:</strong>
        <p>{{ product.quantityInStock }}</p>
    </div>
    
</div>