<div class="container">
    <h1>Product Details</h1>
   <a mat-button color="primary" routerLink="/productsuser" >Back</a>
    <div>
        <strong>ID:</strong>
        <p>{{ product.productId }}</p>
    </div>
   
    <div>
        <strong>ProductName</strong>
        <p>{{ product.name }}</p>
    </div>
   
    <div>
        <strong>Price</strong>
        <p>{{ product.price }}</p>
    </div>

    <div>
        <strong>Description:</strong>
        <p>{{ product.description }}</p>
    </div>
    <div>
        <strong>Quantity in Stock :</strong>
        <p>{{ product.quantityInStock }}</p>
    </div>
    
</div>
